body {
    background: black;
}

#container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 100px;
    max-width: 900px;
    max-height: 500px;
}
.cont-item {
    background: black;
}
#item2 {
    background-image: url("photos/background1.png"), blue;
    grid-column: 1 / 9;
    grid-row: 1;
}
#item1{
    background: gray;
    grid-column: 1 / 9;
    grid-row: 1;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
    border-style: groove;
    border-color: red, green;
}
#item3 {
    background: gray;
    grid-column: 1 / 3;
    grid-row: 6;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold;
    border-style: groove;
    border-color: red, green;
}
#item4 {
    background: gray;
    grid-column: 3 / 9;
    grid-row: 6;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    border-style: groove;
    border-color: red, green;
}
#item5 {
    background: gray;
    grid-column: 2 / 4;
    grid-row: 5;
    position: relative;
    border-radius: 10px;
    border-style: groove;
    border-color: red, green;
}
#item5:hover {
    font-style: italic;
    font-weight: bold;
}
button {
    margin-top: 2px;
    margin-left: 5px;
}
#container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    position: absolute;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    top: 125px;
}
#bunger {
    grid-column: 1;
    grid-row: 1;
}
#bunger2 {
    grid-column: 1;
    grid-row: 2;
}
#bunger3 {
    grid-column: 2;
    grid-row: 1;
}
#bunger4 {
    grid-column: 2;
    grid-row: 2;
}